<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<form action="/new-user" method="post" class="mainform">

    <label>
        <span>Security key :</span>
        <input class="field" type="text" placeholder="Enter your security key." name="keyInput">
    </label>

    <label>
        <span>Email :</span>
        <input class="field" type="text" placeholder="Enter your email." name="emailInput">
    </label>

    <label>
        <span>First name :</span>
        <input class="field" type="text" placeholder="Enter your first name." name="firstInput">
    </label>

    <label>
        <span>Last name :</span>
        <input class="field" type="text" placeholder="Enter your last name." name="lastInput">
    </label>

    <label>
        <span>Password (6-15 characters) :</span>
        <input class="field" type="text" placeholder="Enter your password." name="password1">
    </label>

    <label>
        <span>Re-enter password :</span>
    <input class="field" type="text" placeholder="Confirm password." name="password2">
    </label>

    <label>
        <button class="button">Sign Up</button>
    </label>

</form>
</body>
</html>